<div class="row">
    <div class="col-xs-2 col-sm-5 col-md-7 col-lg-9">
        
    </div>
    <div class="col-xs-20 col-sm-14 col-md-10 col-lg-6">
        <form data-bind="submit: submitSearch"
              class="theme-on-color color-fill-accent-vivid-high p-xxs">
            <div class="form-group">
                <label for="searchTerm">
                    <span class="glyph glyph-magnifier"></span>
                    <span class="hidden-xs">Search for Package</span>
                </label>
                <input type="text"
                       class="form-control"
                       id="searchTerm"
                       placeholder="Search..."
                       autocomplete="off"
                       data-bind="value: searchTerm">
            </div>  
        </form>
    </div>
    <div class="col-xs-2 col-sm-5 col-md-7 col-lg-9">
        <br/>
        <loading-spinner params="show: showSearch"></loading-spinner>
    </div>
</div>