@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-7">
            <form data-bind="submit: search.submitSearch"
                  class="theme-on-color color-fill-accent-vivid-high p-xxs">
                <div class="form-group">
                    <label for="searchTerm">
                        <span class="glyph glyph-magnifier"></span>
                        <span class="hidden-xs">Search for Package</span>
                    </label>
                    <span>
                        <input type="text"
                               class="form-control"
                               id="searchTerm"
                               placeholder="Search..."
                               autocomplete="off"
                               data-bind="value: search.searchTerm">
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-1">
            <br />
            <div data-bind="visible: search.showSearch()"
                 class="progress-ring progress-large">
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
            </div>
        </div>
    </div>
</section>

<section data-bind="visible: !search.isEmpty()">
    
    <div class="row">
        <div class="col-md-12">
            <h4>Status</h4>
            <div data-bind="visible: nuget.isLoading" class="glyphicon-align-center">
                <div class="progress-ring progress-large">
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                </div>
            </div>
            <table data-bind="visible: nuget.isVisible()" class="table">
                <thead>
                <tr>
                    <th>Package Version</th>
                    <th>.NET Core Ready</th>
                    <th>.NET Standard Versions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: nuget.frameworks">
                <tr data-bind="css: {success: supportsNetCore, danger: !supportsNetCore}">
                    <td>
                        <span data-bind="text: packageVersion"></span>
                    </td>
                    <td>
                        <span class="glyph glyph-checkmark"
                              data-bind="visible: supportsNetCore"
                              aria-hidden="true"></span>
                        <span class="glyph glyph-cancel"
                              data-bind="visible: !supportsNetCore"
                              aria-hidden="true"></span>
                    </td>
                    <td data-bind="text: netStandardVersions"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h4>Alternatives</h4>
            <div data-bind="visible: alternatives.isLoading" class="glyphicon-align-center">
                <div class="progress-ring progress-large">
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                </div>
            </div>
            <table class="table table-striped" data-bind="visible: alternatives.isVisible()">
                <thead>
                <tr>
                    <th>Package Name</th>
                    <th class="text-right">.NET Standard Versions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: alternatives.items">
                <tr>
                    <td>
                        <a data-bind="text: Id, attr: {href: ProjectUrl}"></a>
                    </td>
                    <td class="text-right">
                        <p data-bind="text: Version"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-24">
            <h4>Open Github Issues</h4>
            <div data-bind="visible: github.isLoading" class="glyphicon-align-center">
                <div class="progress-ring progress-large">
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                    <div class="progress-circle"></div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Github Issues</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: github.issues">
                <tr>
                    <td>
                        <h6>
                            <span class="type-sh2">
                                <a data-bind="text: Title, attr: {href: Url}"></a>
                            </span>
                            <span class="label label-warning" data-bind="visible: IsOpen">Open</span>
                            <span class="label label-primary" data-bind="visible: !IsOpen">Closed</span>
                        </h6>
                        <p data-bind="text: Body">
                            This is a test
                        </p>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

<section data-bind="visible: search.isEmpty()">
    <br/>
    <div class="row text-center">
        <div class="col-md-8">
            <p class="type-p1">Search for package status.</p>
        </div>
        <div class="col-md-8">
            <p class="type-p1">See compatible alternatives.</p>
        </div>
        <div class="col-md-8">
            <p class="type-p1">Find relative Github issues.</p>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function SearchModel(onSubmit) {
            var self = this;
            this.searchTerm = ko.observable("");
            this.isSearching = ko.observable(false);
            this.submitSearch = function() {
                onSubmit(self.searchTerm());
                self.isSearching(false);
            }
            this.isEmpty = ko.computed(() => {
                return self.searchTerm() === "";
            });
            this.showSearch = ko.computed(() => {
                return self.isSearching() && !self.isEmpty();
            })
        }

        function NugetModel(onResults) {
            var self = this;
            this.isLoading = ko.observable(false);
            this.version = ko.observable("");
            this.id = ko.observable("");
            this.frameworks = ko.observableArray([]);
            this.activeSearch = null;
            this.isDirty = ko.observable(false);
            this.load = function(id) {
                var url = '@(Url.Action("Frameworks", "Nuget"))';
                self.isLoading(true);
                self.frameworks([]);
                self.activeSearch = $.getJSON(
                    url,
                    { id },
                    (data) => {
                        self.cancel();
                        var versions = data
                            .map(d => new NugetVersionModel(d.PackageVersion, d.NetStandardVersions));
                        self.frameworks(versions);
                        if (onResults) {
                            onResults(versions);
                        }
                        self.isVisible(true);
                    })
                    .fail(() => {
                        self.cancel();
                    });
            }
            this.cancel = function() {
                if (self.activeSearch) {
                    self.activeSearch.abort();
                }
                self.isLoading(false);
            }
            this.isVisible = () => {
                return !self.isDirty() && !self.isLoading();
            }
        }

        function NugetVersionModel(version, netStandardVersions) {
            this.packageVersion = version;
            this.netStandardVersions = netStandardVersions.join(', ');
            this.supportsNetCore = netStandardVersions.length > 0;
        }

        function GithubModel() {
            var self = this;
            this.isLoading = ko.observable(false);
            this.issues = ko.observableArray([]);
            this.activeSearch = undefined;
            var url = '@Url.Action("Search", "Github")';

            this.load = (packageId) => {
                self.isLoading(true);
                self.issues([]);
                self.activeSearch = $.getJSON(
                    url,
                    { packageId: packageId },
                    (data) => {
                        self.issues(data);
                        self.cancel();
                    })
                    .fail(() => {
                        self.cancel();
                    });
            }

            this.cancel = () => {
                if (self.activeSearch) {
                    self.activeSearch.abort();
                }
                self.isLoading(false);
            }
        }

        function AlternativesModel() {
            var self = this;
            this.isLoading = ko.observable(false);
            this.items = ko.observableArray([]);
            this.activeSearch = undefined;
            var url = '@Url.Action("Alternatives", "Nuget")';

            this.load = (id, version) => {
                self.items([]);
                self.isLoading(true);
                self.activeSearch = $.getJSON(
                    url,
                    { id, version },
                    (data) => {
                        self.items(data);
                        this.cancel();
                    })
                    .fail(() => {
                        self.cancel();
                    });;
            }

            this.cancel = () => {
                if (self.activeSearch) {
                    self.activeSearch.abort();
                }
                self.isLoading(false);
            }

            this.isVisible = () => {
                return !self.isLoading();
            }
        }

        function Model() {
            var self = this;
            this.search = new SearchModel(s => {
                self.nuget.load(s);
                self.github.load(s);
                self.alternatives.load(s);
            });
            this.nuget = new NugetModel();
            this.github = new GithubModel();
            this.alternatives = new AlternativesModel();
        }

        var model = new Model();

        ko.applyBindings(model);

        // instantiate the bloodhound suggestion engine
        var numbers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '@Url.Action("Autocomplete", "Nuget")',
                prepare: (query, settings) => {
                    model.search.isSearching(true);
                    settings.data = { searchTerm: query }
                    return settings;
                },
                transform: (response) => {
                    model.search.isSearching(false);
                    return response;
                }
            }
        });

        // initialize the bloodhound suggestion engine
        numbers.initialize();

        $('#searchTerm').typeahead({
            items: 4,
            source: numbers.ttAdapter(),
            afterSelect: (item) => {
                model.search.submitSearch();
            }
        });

    </script>
}