<div class="jumbotron theme-light">
    <div class="container">
        <div class="row">
            <div class="col-md-24 text-center">
                <h1>.NET Core Ready</h1>
                <div class="type-sh3">
                    Check whether your favourite NuGet packages are ready for .NET Core.
                </div>
            </div>
        </div>
    </div>
</div>

<br />

@RenderBody()

@RenderSection("scripts", required: false)